.ac{
    color: rgb(10, 245, 30) !important;
  }


  .wa{
    color: #2f0fd1ae !important;
  }
  .re{
    color: hsla(0, 87%, 52%, 0.789) !important;
  }



  .btc {background-color: #555555 !important; color: aliceblue !important;}

  .bta {background-color: #008CBA !important; color: aliceblue !important;}